        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #ffffff;
        }

        .navbar {
            opacity: 1;
        }

        .navbar form input {
            background-color: #3e3d3dae;
            border: none;
        }

        .navbar form button {
            border: none;
            text-align: center;
            width: 60px;
        }

        .navbar-brand {
            margin-left: 40px;
        }

        .navbar-switch .navbar-brand {
            order: 2;
        }

        .navbar-switch .navbar-toggler {
            order: 1;
        }

        .movie-card {
            max-width: 800px;
            margin: 5% 0px;
            margin-top: 120px;
            display: flex;
            overflow: hidden;
        }

        .movie-poster {
            flex: 0 0 30%;
            max-width: 35%;
            height: auto;
            border-radius: 10px;
        }

        .movie-info {
            flex-grow: 1;
            padding: 20px;
            margin: auto;
        }

        .movie-title {
            font-size: 60px;
            margin-bottom: 10px;
            font-family: 'Helvetica Neue', Arial, sans-serif;
        }

        .movie-description {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .watch-button {
            background-color: #070707;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.5s ease;

        }

        .watch-button:hover {
            background-color: #ff0f25;
        }

        .netflix-style {
            align-items: center;
            padding: 5px 5px;
            border-radius: 5px;
            font-size: 16px;

        }

        .netflix-style i {
            padding: 3px;

        }

        .modal-content {

            background: rgba(50, 49, 49, 0.34);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            width: 100%;
        }

        .btn-close {
            color: red;

        }

        .modal.fade .modal-dialog {
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            transform: translateY(-50px);
            opacity: 0;
        }

        .modal.fade.show .modal-dialog {

            transform: translateY(0);
            opacity: 1;
        }

        .card {
            position: relative;
            background-color: transparent;
            border: none;
            width: 300px;
            margin: 20px;
            overflow: hidden;
            transition: transform 0.3s;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .image-container {
            position: relative;
        }

        .image-container img {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay-text {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 50%;
            display: block;
            align-items: center;
            justify-content: center;
        }

        .play-button svg {
            width: 24px;
            height: 24px;
            fill: rgb(247, 247, 247);
        }

        .card:hover {
            display: flex;
        }

        .card h6 {
            color: #ffffff85;
            margin-top: 1px;
        }

        .episode-info {
            display: flex;
            flex-direction: row;
            color: #ffffffda;
            font-size: large;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .description {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(0, 0, 0);
            flex-direction: column;
            color: white;
            display: flex;
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 100%;
        }

        .card:hover .description {
            opacity: 1;
        }

        .mobileico {
            display: none;
        }

        .season-button button {
            margin-right: 10px;
        }

        .season-button button:last-child {
            margin-right: 0;
        }



        @media (max-width: 980px) {
            .navbar-toggler {
                border: none;
                position: relative;
                right: 50%;
                transform: translateX(-40%);
                margin-right: 20px;
            }
        }



        @media (max-width: 768px) {
            .movie-card {
                flex-direction: column;
                margin-top: 120px;
            }

            .movie-poster {
                margin: auto;
                max-width: 70%;
            }

            .movie-title {
                font-size: 45px;
            }

            .movie-info {
                text-align: center;
                padding: 20px;
            }
        }

        @media (max-width: 1024px) and (min-width: 769px) {
            .movie-card {
                flex-direction: row;
                margin-top: 150px;
            }

            .movie-poster {
                margin: auto;
                max-width: 30%;
            }

            .movie-title {
                font-size: 50px;
            }

            .movie-info {
                padding: 10px;
            }
        }


        @media (max-width: 767px) {
            .row-cols-1 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }



            .card {
                width: 100%;
                flex-direction: row;
                margin: 0;

            }

            .image-container {
                width: 40%;
                margin-right: 10px;
            }

            .image-container img {
                width: 100%;
                height: 100%;

            }

            .overlay-text {
                font-size: 10px;
            }

            h6 {
                margin-bottom: 1px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .mobile .episode-info {
                white-space: nowrap;
                display: flex;
                position: absolute;
                flex-direction: column;
                overflow: hidden;
                text-overflow: ellipsis;
            }


            .description {
                display: none;
            }

            .mobileico {
                display: inline-block;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            .episode-info:hover .mobileico {
                opacity: 1;
            }

        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            .row-cols-md-2 {
                display: flex;
                flex-wrap: wrap;
            }

            .col {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @media (min-width: 991px) and (max-width: 1400px) {
            .row-cols-md-3 {
                display: flex;
                flex-wrap: wrap;
            }

            .col {
                flex: 0 0 33%;
                max-width: 33%;
            }
        }

        @media (min-width: 1400px) {
            .row-cols-lg-4 {
                display: flex;
                flex-wrap: wrap;
            }

            .col {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
