        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #ffffff;
        }

        .navbar {
            opacity: 1;
        }

        .navbar form input {
            background-color: #3e3d3dae;
            border: none;
        }

        .navbar form button {
            border: none;
            text-align: center;
            width: 60px;
        }

        .navbar-brand {
            margin-left: 40px;
        }

        .navbar-switch .navbar-brand {
            order: 2;
        }

        .navbar-switch .navbar-toggler {
            order: 1;
        }

        .movie-card {
            max-width: 800px;
            margin: 5% 0px;
            margin-top: 120px;

            display: flex;
            overflow: hidden;
        }

        .movie-poster {
            flex: 0 0 30%;
            max-width: 38%;
            height: auto;
            border-radius: 10px;
        }

        .movie-info {
            flex-grow: 1;
            padding: 20px;
            margin: auto;
        }

        .movie-title {
            font-size: 60px;
            margin-bottom: 10px;
            font-family: 'Helvetica Neue', Arial, sans-serif;
        }

        .movie-description {
            font-size: 16px;
            margin-top: 10px;

            margin-bottom: 20px;
        }

        .watch-button {
            background-color: #070707;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.5s ease;
        }

        .watch-button:hover {
            background-color: #ff0f25;
        }


        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        .netflix-style {
            align-items: center;

            padding: 5px 5px;
            border-radius: 5px;
            margin-right: 10px;

            font-size: 16px;

        }

        .netflix-style i {
            padding: 3px;

        }

        .modal-content {
            background: rgba(50, 49, 49, 0.34);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            width: 100%;
        }

        .btn-close {
            color: red;
        }

        .modal.fade .modal-dialog {
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            transform: translateY(-50px);
            opacity: 0;
        }

        .modal.fade.show .modal-dialog {

            transform: translateY(0);
            opacity: 1;
        }

        @media (max-width: 980px) {
            .navbar-toggler {
                border: none;
                position: relative;
                right: 50%;
                transform: translateX(-40%);
                margin-right: 20px;
            }
        }



        @media (max-width: 768px) {
            .movie-card {
                flex-direction: column;
                margin-top: 120px;
            }

            .movie-poster {
                margin: auto;
                max-width: 70%;
            }

            .movie-title {
                font-size: 45px;
            }

            .movie-info {
                text-align: center;
                padding: 20px;
            }
        }

        @media (max-width: 1024px) and (min-width: 769px) {
            .movie-card {
                flex-direction: row;
                margin-top: 120px;
            }

            .movie-poster {
                margin: auto;
                max-width: 30%;
            }

            .movie-title {
                font-size: 50px;
            }

            .movie-info {
                padding: 10px;
            }
        }
